<!DOCTYPE html>

<head>
	<title>[% title %] - 日誌</title>

	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link type="image/png" rel="icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/lrr.css?[% version%]" />

	<link rel="stylesheet" type="text/css" href="./css/vendor/fontawesome-all.min.css" />
	[% csshead %]

	<script src="./js/vendor/jquery.min.js" type="text/JAVASCRIPT"></script>

	<script src="./js/theme.js?[% version%]" type="text/JAVASCRIPT"></script>

</head>

<body onload="set_style_from_storage()">

	<div class='ido' style='text-align:center'>
		<h2 class='ih' style='text-align:center'>軟體日誌</h2>

		<br>
		您可以在此處檢查LANraragi日誌以進行除錯。<br>
		默認情況下，此視圖僅顯示每個日誌檔案的最後100行，最後一行顯示最新行。 <br><br>
		<ul>
			<li>常規日誌與主應用程式有關。 </li>
			<li>Shinobu日誌對應於後台監視進程。</li>
			<li>插件日誌僅針對元數據插件。 </li>
			<li>除非您正在運行“除錯模式”，否則Mojolicious日誌不會告訴您太多訊息。 </li>
			<li>Redis日誌僅適用於Docker / Windows / Homebrew用戶。 </li>
		</ul>
		<br>漢化：昭君。訪問<a href="http://yuanfangblog.xyz"> 我的部落格 </a>和<a href="https://space.bilibili.com/6976331"> Bilibili空間 </a>獲取更多訊息和教學<br>
		<br>點擊 <a href="http://yuanfangblog.xyz/usr/uploads/2020/10/195169827.zip"> 此處下載 </a>漢化版安卓手機用戶端<br>
		<br><br>

		<h1 class='ih' style='float:left; margin-left: 5%;'>當前視圖: <span id="indicator">通常</span></h1>

		<div style="margin-right: 5%;float: right;">

			<a href="#" onclick="refreshLog()" title="Refresh">
				<i style="padding-right: 10px;" class="fa fa-sync-alt fa-2x"></i>
			</a>

			顯示行: <input type="number" min="0" value="100" id="loglines" onchange="refreshLog()" style="width: 60px;">

		</div>

		<table class="itg" style="width: 100%; margin-top: 32px;">
			<tbody>

				<tr class="gtr1">
					<td>
						<pre id="log-container" class="log-panel"></pre>
					</td>
				</tr>

			</tbody>
		</table>

		<br><br>
		<span id='buttonstagging'>
			<input type='button' value='查看 LANraragi 日誌' class='stdbtn' onclick='showLog("general")'>

			<input type='button' value='查看 Shinobu 日誌' class='stdbtn' onclick='showLog("shinobu")'>

			<input type='button' value='查看 插件 日誌' class='stdbtn' onclick='showLog("plugins")'>

			<input type='button' value='查看 Mojolicious 日誌' class='stdbtn' onclick='showLog("mojo")'>

			<input type='button' value='查看 Redis 日誌' class='stdbtn' onclick='showLog("redis")'>

			<br><br>
			<input class='stdbtn' type='button' onclick="window.location.replace('/');" value='返回資料庫' />

		</span>

	</div>

	<script>

		lastType = "";

		function showLog(type) {

			$.get("/logs/" + type + "?lines=" + $("#loglines").val(), function (data) {
				$("#log-container").html(data);
				$("#indicator").html(type);
				$("#log-container").scrollTop($("#log-container").prop("scrollHeight"));
			});

			lastType = type;

		}

		function refreshLog() {
			showLog(lastType);
		}

		showLog("general");

	</script>

	[% INCLUDE footer %]
</body>

</html>
